In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics as sts
import seaborn as sns
import sys
sys.path.append('../')

from src.visualiza.visualiza import consulta_na, consulta_na_porcentagem
from src.data_cleanig.cleaning import limpa_dados_NAN

In [2]:
df = pd.read_csv("../data/vgsales.csv", sep=',')

In [3]:
df.shape

(16598, 11)

# Descrição dos atributos do dataset
* Rank: Se trata da posição daquele determinado jogo no ranking de vendas;
* Name: Se trata do título do jogo;
* Platform: Se trata do console em que o jogo foi lançado;
* Year: Se refere ao ano de lançamento daquele título;
* Genre: Se trata do gênero daquele jogo;
* Publisher: Empresa responsável pela publicação do jogo;
* NA_Sales: Vendas na América do Norte, em milhões de dólares;
* EU_Sales: Vendas na Europa, em milhões de dólares;
* JP_Sales: Vendas no Japão, em milhões de dólares;
* Other_Sales: Vendas no em outras regiões além de Japão, Europa e América do Norte;
* Global_Sales: Total de vendas mundiais.

In [4]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [6]:
consulta_na_porcentagem(df)

Rank            0.00
Name            0.00
Platform        0.00
Year            1.63
Genre           0.00
Publisher       0.35
NA_Sales        0.00
EU_Sales        0.00
JP_Sales        0.00
Other_Sales     0.00
Global_Sales    0.00
dtype: float64

In [9]:
df['Platform'].value_counts()

Platform
DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
NES       98
GB        98
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
GG         1
PCFX       1
Name: count, dtype: int64

In [12]:
df['Genre']

0              Sports
1            Platform
2              Racing
3              Sports
4        Role-Playing
             ...
16593        Platform
16594         Shooter
16595          Racing
16596          Puzzle
16597        Platform
Name: Genre, Length: 16598, dtype: object

In [ ]:
df['Publisher'].value_counts()

16540

In [ ]:
# Vendas America do norte
venda_america_norte = df['NA_Sales'].describe()

count    16598.000000
mean         0.264667
std          0.816683
min          0.000000
25%          0.000000
50%          0.080000
75%          0.240000
max         41.490000
Name: NA_Sales, dtype: float64

In [ ]:
sns

In [7]:
moda_year = sts.mode(df['Year'])
moda_year

2009.0

In [8]:
df['Year'].fillna(moda_year, inplace=True)

C:\Users\dyego\AppData\Local\Temp\ipykernel_14228\110073009.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Year'].fillna(moda_year, inplace=True)

In [9]:
df['Year'] = df["Year"].astype(int)

In [16]:
agrup_plataform = df.groupby(['Publisher','Year']).size().reset_index(name='Contagem')
agrup_plataform = agrup_plataform.sort_values(by='Contagem', ascending=False)
agrup_plataform

            Publisher  Year  Contagem
114        Activision  2009       130
660   Electronic Arts  2009       124
659   Electronic Arts  2008       120
656   Electronic Arts  2005       117
2152          Ubisoft  2008       112
...               ...   ...       ...
1086  Kadokawa Shoten  1996         1
1081   Kadokawa Games  2012         1
1080              KSS  1996         1
1078              KID  1998         1
2330     responDESIGN  2005         1

[2331 rows x 3 columns]

In [11]:
df['Publisher'].value_counts()

Publisher
Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
                                ...
Warp                               1
New                                1
Elite                              1
Evolution Games                    1
UIG Entertainment                  1
Name: count, Length: 578, dtype: int64

In [12]:
agrupado = df.groupby(['Publisher','Year'])['Year'].size()
# agrupado = df.groupby(['Publisher','Year']).size()
agrupado

Publisher                     Year
10TACLE Studios               2006    1
                              2007    2
1C Company                    2009    1
                              2011    2
20th Century Fox Video Games  1981    3
                                     ..
imageepoch Inc.               2014    2
inXile Entertainment          2015    1
mixi, Inc                     2015    1
responDESIGN                  2004    1
                              2005    1
Name: Year, Length: 2331, dtype: int64