In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics as sts
import seaborn as sns
import sys
from src.visualiza.visualiza import consulta_na
sys.path.append('../')

ModuleNotFoundError: No module named 'src'

In [ ]:
df = pd.read_csv("../data/vgsales.csv", sep=',')

In [ ]:
df.shape

(16598, 11)

In [ ]:
df['Year'].astype = df["Year"].fillna(0).astype(int).inplace=True

# Descrição dos atributos do dataset
* Rank: Se trata da posição daquele determinado jogo no ranking de vendas;
* Name: Se trata do título do jogo;
* Platform: Se trata do console em que o jogo foi lançado;
* Year: Se refere ao ano de lançamento daquele título;
* Genre: Se trata do gênero daquele jogo;
* Publisher: Empresa responsável pela publicação do jogo;
* NA_Sales: Vendas na América do Norte, em milhões de dólares;
* EU_Sales: Vendas na Europa, em milhões de dólares;
* JP_Sales: Vendas no Japão, em milhões de dólares;
* Other_Sales: Vendas no em outras regiões além de Japão, Europa e América do Norte;
* Global_Sales: Total de vendas mundiais.

In [ ]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [ ]:
print(f' dados em branco = {df["Year"].isnull().sum()}')
print(f' dados em branco = {df["Year"].isna().sum()}')
print(f' dados em branco = {df["Year"].empty}')

 dados em branco = 271
 dados em branco = 271
 dados em branco = False

In [ ]:
agrup_plataform = df.groupby(['Year']).size()
agrup_plataform

Year
1980.0       9
1981.0      46
1982.0      36
1983.0      17
1984.0      14
1985.0      14
1986.0      21
1987.0      16
1988.0      15
1989.0      17
1990.0      16
1991.0      41
1992.0      43
1993.0      60
1994.0     121
1995.0     219
1996.0     263
1997.0     289
1998.0     379
1999.0     338
2000.0     349
2001.0     482
2002.0     829
2003.0     775
2004.0     763
2005.0     941
2006.0    1008
2007.0    1202
2008.0    1428
2009.0    1431
2010.0    1259
2011.0    1139
2012.0     657
2013.0     546
2014.0     582
2015.0     614
2016.0     344
2017.0       3
2020.0       1
dtype: int64